<div id="grid-dialog">
  <button mat-icon-button mat-dialog-close class="close-modal">
    <mat-icon class="material-icons-outlined" (click)="onClose()"
      >close</mat-icon
    >
  </button>
  <div class="grid-dialog-header">Modal Lightbox Complex ag-Grid</div>

  <div class="content-wrapper">
    <div class="form-wrapper">
      <ssnc-form-field
        [formFieldName]="'Fund'"
        [formFieldPlaceholder]="''"
        [defaultValue]="'All Selected'"
      ></ssnc-form-field>
      <ssnc-datepicker
        [width]="'300px'"
        [isDateRange]="true"
        [fontSize]="'20px'"
      ></ssnc-datepicker>
      <ssnc-form-field
        [isDropdown]="true"
        [dropdownList]="formatList"
        [formFieldName]="'Format'"
        [formFieldPlaceholder]="''"
      ></ssnc-form-field>
      <div class="display-flex" style="gap: 25px">
        <ssnc-fab [iconName]="'autorenew'" [tooltipName]="'refresh'"></ssnc-fab>
        <ssnc-fab
          [iconName]="'cloud_download'"
          [tooltipName]="'download'"
          [isIconFilled]="true"
        ></ssnc-fab>
      </div>
    </div>
    <ssnc-tabs>
      <ssnc-tab title="Tab One" #itemComponent>
        <ag-grid-angular
          class="ag-theme-alpine"
          [context]="context"
          [rowClass]="rowClass"
          [rowData]="rowDataPopup"
          [columnDefs]="columnDefsPopup"
          [defaultColDef]="defaultColDefModal"
          [frameworkComponents]="frameworkComponents"
          [rowSelection]="'multiple'"
          [rowSelection]="'multiple'"
          [suppressRowClickSelection]="true"
          [suppressCellSelection]="true"
          (gridReady)="gridPopupReadyHandler($event)"
          style="width: 100%; height: 580px; margin-top: 15px"
        ></ag-grid-angular>
        <div class="popup-footer">
          <span style="font-weight: 600">50</span> items
        </div>
      </ssnc-tab>
      <ssnc-tab title="Tab Two" #itemComponent>
        <ag-grid-angular
          class="ag-theme-alpine"
          [context]="context"
          [rowClass]="rowClass"
          [rowData]="rowDataPopup"
          [columnDefs]="columnDefsPopup"
          [defaultColDef]="defaultColDefModal"
          [frameworkComponents]="frameworkComponents"
          [rowSelection]="'multiple'"
          [rowSelection]="'multiple'"
          [suppressRowClickSelection]="true"
          [suppressCellSelection]="true"
          (gridReady)="gridPopupReadyHandler($event)"
          style="width: 100%; height: 580px; margin-top: 15px"
        ></ag-grid-angular>
        <div class="popup-footer">
          <span style="font-weight: 600">50</span> items
        </div>
      </ssnc-tab>
    </ssnc-tabs>
  </div>
</div>
