.header-wrapper {
  font-family: "Montserrat", sans-serif;
  background-color: var(--content-bg);
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0px 1px 0px rgba(64, 110, 184, 0.08),
    0px 2px 0px rgba(64, 110, 184, 0.3);
}

.content-header h2 {
  color: var(--content-header-text);
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}
.content-header p {
  color: var(--content-text);
  font-size: 13px;
  line-height: 1.7;
}
