<div *ngIf="value == 'PTLA'" class="flag-wrapper">
  <img src="assets/img/blue-flag.svg" class="icon-flag-style" />
  <span>{{ value }}</span>
</div>
<div *ngIf="value == 'PSXP'" class="flag-wrapper">
  <img src="assets/img/green-flag.svg" class="icon-flag-style" />
  <span>{{ value }}</span>
</div>
<div *ngIf="value == 'NORD'" class="flag-wrapper">
  <img src="assets/img/purple-flag.svg" class="icon-flag-style" />
  <span>{{ value }}</span>
</div>
<div *ngIf="value == 'MCN'" class="flag-wrapper">
  <img src="assets/img/red-flag.svg" class="icon-flag-style" />
  <span>{{ value }}</span>
</div>
