@import 'ag-grid-community/styles/ag-grid.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'ag-grid-community/styles/ag-theme-alpine.css';/* You can add global styles to this file, and also import other style files */
.row{display: flex;align-items: flex-start; flex-wrap: wrap;}
*{padding: 0;margin: 0;box-sizing: border-box;}
.modal-header {
    color: #475f7b;
    border-radius: 0;
    font-weight: normal;
    font-size: 24px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #cbd5e0;
    margin: 0 0 10px 0;
}
.input-wrap{display: flex;align-items: flex-start; flex-wrap: wrap; padding:10px 0 20px 0;}
.input-box{width:30%;padding:0 10px;
    #ssnc-form-field .mat-form-field{width: 100%!important;}
}
.cdk-overlay-pane{width: 90vw;max-width:90vw!important;}
.justify-flexend{
    justify-content: flex-end;
}
.mat-mdc-dialog-container .mdc-dialog__surface{    position: relative;
    padding: 50px!important;
    border-radius: 24px!important;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
    background-color: #fff;}